body {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  min-height: 100vh;
}

body .header .header__nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  width: 90vw;
  margin: 3vh auto;
}

body .header .header__nav .header__nav__img--logo {
  width: 75px;
}

body .header .header__nav .header__nav--menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  list-style: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

body .header .header__nav .header__nav--menu .header__nav--menu__a {
  font-size: 1.2rem;
  display: inline-block;
  text-decoration: none;
  color: #070439;
  margin-right: 1.8rem;
}

@media (min-width: 768px) {
  body .header .header__nav {
    margin-top: 5vh;
    max-width: 1440px;
    -ms-grid-column-align: center;
        justify-self: center;
  }
  body .header .header__nav .header__nav__img--logo {
    width: 110px;
  }
  body .header .header__nav .header__nav--menu .header__nav--menu__a {
    font-size: 1.3rem;
    margin-right: 0;
    margin-left: 3.5rem;
  }
}

.main .main__section--firstPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__section--firstPage .main__section__img--firstPage {
  width: 85vw;
  margin-top: 60px;
}

.main__section--firstPage .main__section__h1--firstPage {
  width: 90vw;
  margin-top: 40px;
  font-size: 2.4rem;
  font-family: "Open Sans", sans-serif;
  font-weight: 700;
  text-align: center;
  color: #070439;
}

.main__section--firstPage .main__section__p--firstPage {
  width: 75vw;
  margin: 25px auto;
  color: #070439;
  text-align: center;
  line-height: 1.618;
  font-size: 1.3rem;
}

.main__section--firstPage .main__section__form--firstPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--email {
  width: 90vw;
  height: 40px;
  padding: 5px 10px;
  margin-bottom: 15px;
  border: 1px solid #070439;
  border-radius: 5px;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--email::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--email:-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--email::-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--email::placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.2rem;
}

.main__section--firstPage .main__section__form--firstPage .main__section__form--btn {
  width: 90vw;
  height: 40px;
  background: none;
  background-color: #3065f8;
  border: none;
  border-radius: 5px;
  font-family: "Raleway", sans-serif;
  font-weight: 700;
  color: #fff;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  -webkit-appearance: none;
  -moz-appearance: none;
  appearance: none;
}

@media (min-width: 768px) {
  .main .main__section--firstPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    margin: 0 auto;
  }
  .main .main__section--firstPage .main__section__img--firstPage {
    width: 40vw;
    max-width: 600px;
  }
  .main__section--firstPage {
    width: 90vw;
    max-width: 1440px;
  }
  .main__section--firstPage .main__section--firstTextWrap {
    width: 50vw;
    max-width: 840px;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__h1--firstPage {
    max-width: 40vw;
    margin-top: 40px;
    font-size: 2.4rem;
    font-family: "Raleway", sans-serif;
    text-align: left;
    color: #070439;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__p--firstPage {
    max-width: 40vw;
    text-align: left;
    font-size: 1.3rem;
    margin: 25px 0;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--email {
    max-width: 25vw;
    height: 30px;
    margin-bottom: 0;
    margin-right: 1rem;
    border-radius: 3px;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--email::-webkit-input-placeholder {
    color: #bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--email:-ms-input-placeholder {
    color: #bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--email::-ms-input-placeholder {
    color: #bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--email::placeholder {
    color: #bfbfbf;
    font-family: "Open Sans", sans-serif;
    font-size: 1rem;
  }
  .main__section--firstPage .main__section--firstTextWrap .main__section__form--firstPage .main__section__form--btn {
    width: 15vw;
    height: 30px;
    border-radius: 3px;
    font-size: 1rem;
    font-weight: 700;
    color: #fff;
    -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
            box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
  }
}

.main .main__section--secondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #f8f8fe;
  margin-top: 130px;
  position: relative;
}

.main .main__section--secondPage::before {
  display: inline-block;
  background: url(../images/bg-curve-mobile.svg);
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 53px;
  position: absolute;
  top: -52px;
  left: 0vw;
  content: "";
}

.main .main__section--secondPage .main__section--secondPageWrapper .main__section__img--secondPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 85vw;
  margin-top: 40px;
  margin-bottom: 80px;
}

.main .main__section--secondTextWrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main .main__section--secondTextWrap .main__section__h2--secondPage {
  font-size: 1.6rem;
  margin-bottom: 25px;
  color: #070439;
}

.main .main__section--secondTextWrap .main__section__p--secondPage {
  width: 80vw;
  font-size: 1.3rem;
  color: #585989;
  text-align: center;
  line-height: 1.618;
  margin-bottom: 25px;
}

.main .main__section--secondTextWrap .main__section--link {
  font-size: 1.3rem;
  text-decoration: none;
  color: #3c9f8f;
  border-bottom: 1px solid #3c9f8f;
  padding-bottom: 3px;
  margin-bottom: 30px;
}

.main .main__section--secondTextWrap .main__section--link::after {
  content: url(../images/icon-arrow.svg);
  height: 100%;
  vertical-align: middle;
  padding-left: 5px;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox {
  width: 70vw;
  background-color: #fff;
  padding: 20px 10px 20px 20px;
  margin-bottom: 70px;
  border-radius: 5px;
  -webkit-box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
          box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quote {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  font-family: "Open Sans", sans-serif;
  color: #585989;
  line-height: 1.618;
  font-size: 1.1rem;
  margin-bottom: 10px;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quote .section__div__img--quoteIcon {
  width: 12px;
  height: 11px;
  margin-bottom: 10px;
  color: #585989;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox .setion__div--quoteNameBox--img {
  width: 25px;
  height: 25px;
  border-radius: 50%;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox .setion__div--quoteNameBox--name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  font-size: 0.9rem;
  font-weight: 700;
  margin-left: 10px;
  color: #585989;
}

.main .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox .setion__div--quoteNameBox--name span {
  font-size: 0.8rem;
  font-weight: 400;
}

@media (min-width: 768px) {
  .main .main__section--secondPage {
    margin-top: 200px;
    position: relative;
  }
  .main .main__section--secondPage::before {
    display: inline-block;
    background: url(../images/bg-curve-desktop.svg);
    background-repeat: no-repeat;
    background-size: cover;
    height: 114px;
    position: absolute;
    top: -113px;
    left: 0vw;
    content: "";
  }
  .main .main__section--secondPage .main__section--secondPageWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: reverse;
        -ms-flex-direction: row-reverse;
            flex-direction: row-reverse;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    max-width: 1440px;
  }
  .main .main__section--secondPage .main__section--secondPageWrapper .main__section--secondImgWrap .main__section__img--secondPage {
    width: 40vw;
    max-width: 600px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap {
    width: 50vw;
    max-width: 840px;
    -webkit-box-pack: left;
        -ms-flex-pack: left;
            justify-content: left;
    -webkit-box-align: start;
        -ms-flex-align: start;
            align-items: flex-start;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__h2--secondPage {
    font-size: 2.6rem;
    margin-bottom: 25px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__p--secondPage {
    max-width: 50vw;
    font-size: 1.3rem;
    text-align: left;
    margin-bottom: 20px;
    padding-right: 20px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section--link {
    font-size: 1.3rem;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section--link::after {
    content: url(../images/icon-arrow.svg);
    height: 100%;
    vertical-align: middle;
    padding-left: 5px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox {
    width: 30vw;
    max-width: 300px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quote {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    font-family: "Open Sans", sans-serif;
    color: #585989;
    line-height: 1.618;
    font-size: 1.1rem;
    margin-bottom: 10px;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quote .section__div__img--quoteIcon {
    width: 12px;
    height: 11px;
    margin-bottom: 10px;
    color: #585989;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox .setion__div--quoteNameBox--img {
    width: 25px;
    border-radius: 50%;
  }
  .main .main__section--secondPage .main__section--secondTextWrap .main__section__div--quoteBox .section__div--quoteNameBox .setion__div--quoteNameBox--name span {
    font-size: 0.9rem;
    font-weight: 400;
  }
}

.main__section--thirdPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  background-color: #585989;
  color: #fff;
  text-align: center;
  padding: 0 45px;
  line-height: 1.618;
}

.main__section--thirdPage .main__section__h2--thirdPage {
  font-size: 1.8rem;
  margin-top: 50px;
  margin-bottom: 20px;
}

.main__section--thirdPage .main__section__p--thirdPage {
  font-size: 1.3rem;
  margin-bottom: 20px;
}

.main__section--thirdPage .main__section__form--thirdPage {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--email--thirdPage {
  width: 65vw;
  height: 35px;
  padding: 5px 10px;
  margin-bottom: 10px;
  border: 1px solid #070439;
  border-radius: 3px;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--email--thirdPage::-webkit-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--email--thirdPage:-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--email--thirdPage::-ms-input-placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--email--thirdPage::placeholder {
  color: #bfbfbf;
  font-family: "Open Sans", sans-serif;
  font-size: 1.1rem;
}

.main__section--thirdPage .main__section__form--thirdPage .main__section__form--btn--thirdPage {
  width: 65vw;
  height: 35px;
  background-color: #3065f8;
  border: none;
  border-radius: 3px;
  font-weight: 700;
  font-size: 1.1rem;
  color: #fff;
  -webkit-box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
          box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
  margin-bottom: 50px;
}

@media (min-width: 768px) {
  .main__section--thirdPage .main__section--thirdPageWrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    max-width: 1440px;
    height: 25vh;
    min-height: 280px;
    margin: 0 auto;
    text-align: left;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdTextWrap {
    width: 45vw;
    -ms-grid-column-align: center;
        justify-self: center;
    -ms-flex-item-align: center;
        -ms-grid-row-align: center;
        align-self: center;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdTextWrap .main__section__h2--thirdPage {
    font-size: 2.5rem;
    margin-top: 0;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdTextWrap .main__section__p--thirdPage {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdFormWrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-line-pack: start;
        align-content: flex-start;
    width: 45vw;
    padding-left: 14vh;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdFormWrap .main__section__form--thirdPage {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    width: 100%;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdFormWrap .main__section__form--thirdPage .main__section__form--email--thirdPage {
    width: 30vw;
    -ms-flex-item-align: start;
        align-self: flex-start;
  }
  .main__section--thirdPage .main__section--thirdPageWrapper .main__section--thirdFormWrap .main__section__form--thirdPage .main__section__form--btn--thirdPage {
    width: 15vw;
    font-size: 1.1rem;
    -ms-flex-item-align: start;
        align-self: flex-start;
    margin-bottom: 0;
    -moz-appearance: none;
    -webkit-appearance: none;
    appearance: 0;
  }
}

.footer {
  background-color: #070439;
  color: #fff;
  padding: 50px 30px 30px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
}

.footer .footer_img--logo {
  margin-bottom: 20px;
}

.footer .footer__div--contact {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-bottom: 50px;
}

.footer .footer__div--contact .footer__img--contactIcon {
  margin: 20px 10px 0 0;
  vertical-align: -20%;
}

.footer .footer__ul__nav1 {
  list-style: none;
  margin-bottom: 30px;
}

.footer .footer__ul__nav1 .footer__ul--menu__a {
  color: #fff;
  text-decoration: none;
  margin: 10px;
}

.footer .footer__div--socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.footer .footer__div--socials i {
  font-size: 2rem;
  color: #fff;
  text-decoration: none;
  margin: 0 20px 20px 0;
}

@media (min-width: 768px) {
  .footer .footer__div--wrapper {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    width: 90vw;
    max-width: 1440px;
    margin: 0 auto;
  }
  .footer .footer__div--wrapper .footer_img--logo {
    margin-bottom: 0px;
  }
}

* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  font-size: 10px;
  font-family: "Raleway", "Open Sans", sans-serif;
}
/*# sourceMappingURL=style.css.map */