.footer {
  background-color: $veryDarkBlue;
  color: #fff;
  padding: 50px 30px 30px 30px;
  font-family: "Open Sans", sans-serif;
  font-size: 1.3rem;
  .footer_img--logo {
    margin-bottom: 20px;
  }
  .footer__div--contact {
    display: flex;
    flex-direction: column;
    margin-bottom: 50px;
    .footer__img--contactIcon {
      margin: 20px 10px 0 0;
      vertical-align: -20%;
    }
  }
  .footer__ul__nav1 {
    list-style: none;
    margin-bottom: 30px;
    .footer__ul--menu__a {
      color: #fff;
      text-decoration: none;
      margin: 10px;
    }
  }
  .footer__div--socials {
    display: flex;
    justify-content: center;
    & i {
      font-size: 2rem;
      color: #fff;
      text-decoration: none;
      margin: 0 20px 20px 0;
    }
  }
}

@media (min-width: 768px) {
  .footer {
    .footer__div--wrapper {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      max-width: 1440px;
      margin: 0 auto;
      .footer_img--logo {
        margin-bottom: 0px;
      }
      .footer__div--contact {
        .footer__img--contactIcon {
        }
      }
      .footer__ul__nav1 {
        .footer__ul--menu__a {
        }
      }
      .footer__div--socials {
        & i {
        }
      }
    }
  }
}
