// navigation
body {
  display: flex;
  flex-direction: column;
  justify-content: center;
  min-height: 100vh;
  .header {
    .header__nav {
      display: flex;
      justify-content: space-between;
      width: 90vw;
      margin: 3vh auto;
      .header__nav__img--logo {
        width: 75px;
      }
      .header__nav--menu {
        display: flex;
        list-style: none;
        align-items: center;
        .header__nav--menu__a {
          font-size: 1.2rem;
          display: inline-block;
          text-decoration: none;
          color: $veryDarkBlue;
          margin-right: 1.8rem;
        }
      }
    }
  }
}

// media 768

@media (min-width: 768px) {
  body {
    .header {
      .header__nav {
        margin-top: 5vh;
        max-width: 1440px;
        justify-self: center;
        .header__nav__img--logo {
          width: 110px;
        }
        .header__nav--menu {
          .header__nav--menu__a {
            font-size: 1.3rem;
            margin-right: 0;
            margin-left: 3.5rem;
          }
        }
      }
    }
  }
}
