.main {
  .main__section--secondPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #f8f8fe;
    margin-top: 130px;
    position: relative;
    &::before {
      display: inline-block;
      background: url(../images/bg-curve-mobile.svg);
      background-repeat: no-repeat;
      background-size: cover;
      width: 100%;
      height: 53px;
      position: absolute;
      top: -52px;
      left: 0vw;
      content: "";
    }
    .main__section--secondPageWrapper {
      .main__section__img--secondPage {
        display: flex;
        align-items: center;
        width: 85vw;
        margin-top: 40px;
        margin-bottom: 80px;
      }
    }
  }

  .main__section--secondTextWrap {
    width: 100%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    .main__section__h2--secondPage {
      font-size: 1.6rem;
      margin-bottom: 25px;
      color: $veryDarkBlue;
    }
    .main__section__p--secondPage {
      width: 80vw;
      font-size: 1.3rem;
      color: $desaturatedBlue;
      text-align: center;
      line-height: 1.618;
      margin-bottom: 25px;
    }
    .main__section--link {
      font-size: 1.3rem;
      text-decoration: none;
      color: $moderateCyan;
      border-bottom: 1px solid $moderateCyan;
      padding-bottom: 3px;
      margin-bottom: 30px;
      &::after {
        content: url(../images/icon-arrow.svg);
        height: 100%;
        vertical-align: middle;
        padding-left: 5px;
      }
    }
    .main__section__div--quoteBox {
      width: 70vw;
      // height: 20vh;
      background-color: #fff;
      padding: 20px 10px 20px 20px;
      margin-bottom: 70px;
      border-radius: 5px;
      box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
      .section__div--quote {
        display: flex;
        flex-direction: column;
        font-family: "Open Sans", sans-serif;
        color: $desaturatedBlue;
        line-height: 1.618;
        font-size: 1.1rem;
        margin-bottom: 10px;

        .section__div__img--quoteIcon {
          width: 12px;
          height: 11px;
          margin-bottom: 10px;
          color: $desaturatedBlue;
        }
      }
      .section__div--quoteNameBox {
        display: flex;

        .setion__div--quoteNameBox--img {
          width: 25px;
          height: 25px;
          border-radius: 50%;
        }
        .setion__div--quoteNameBox--name {
          display: flex;
          flex-direction: column;
          justify-content: center;
          font-size: 0.9rem;
          font-weight: 700;
          margin-left: 10px;
          color: $desaturatedBlue;

          & span {
            font-size: 0.8rem;
            font-weight: 400;
          }
        }
      }
    }
  }
}

// media 768px

@media (min-width: 768px) {
  .main {
    .main__section--secondPage {
      margin-top: 200px;
      position: relative;

      &::before {
        display: inline-block;
        background: url(../images/bg-curve-desktop.svg);
        background-repeat: no-repeat;
        background-size: cover;
        height: 114px;
        position: absolute;
        top: -113px;
        left: 0vw;
        content: "";
      }
      .main__section--secondPageWrapper {
        display: flex;
        flex-direction: row-reverse;
        justify-content: center;
        // width: 80vw;
        max-width: 1440px;
        // margin: 0 auto;
        .main__section--secondImgWrap {
          .main__section__img--secondPage {
            width: 40vw;
            max-width: 600px;
          }
        }
      }
    }
  }
  .main {
    .main__section--secondPage {
      .main__section--secondTextWrap {
        width: 50vw;
        max-width: 840px;
        justify-content: left;
        align-items: flex-start;
        .main__section__h2--secondPage {
          font-size: 2.6rem;
          margin-bottom: 25px;
        }
        .main__section__p--secondPage {
          max-width: 50vw;
          font-size: 1.3rem;
          text-align: left;
          margin-bottom: 20px;
          padding-right: 20px;
        }
        .main__section--link {
          font-size: 1.3rem;
          &::after {
            content: url(../images/icon-arrow.svg);
            height: 100%;
            vertical-align: middle;
            padding-left: 5px;
          }
        }
        .main__section__div--quoteBox {
          width: 30vw;
          max-width: 300px;
          // height: 20vh;

          .section__div--quote {
            display: flex;
            flex-direction: column;
            font-family: "Open Sans", sans-serif;
            color: $desaturatedBlue;
            line-height: 1.618;
            font-size: 1.1rem;
            margin-bottom: 10px;

            .section__div__img--quoteIcon {
              width: 12px;
              height: 11px;
              margin-bottom: 10px;
              color: $desaturatedBlue;
            }
          }
          .section__div--quoteNameBox {
            display: flex;

            .setion__div--quoteNameBox--img {
              width: 25px;
              border-radius: 50%;
            }
            .setion__div--quoteNameBox--name {
              & span {
                font-size: 0.9rem;
                font-weight: 400;
              }
            }
          }
        }
      }
    }
  }
}
