.main__section--thirdPage {
  display: flex;
  flex-direction: column;
  background-color: $desaturatedBlue;
  color: #fff;
  text-align: center;
  padding: 0 45px;
  line-height: 1.618;
  .main__section__h2--thirdPage {
    font-size: 1.8rem;
    margin-top: 50px;
    margin-bottom: 20px;
  }
  .main__section__p--thirdPage {
    font-size: 1.3rem;
    margin-bottom: 20px;
  }
  .main__section__form--thirdPage {
    display: flex;
    flex-direction: column;
    align-items: center;
    .main__section__form--email--thirdPage {
      width: 65vw;
      height: 35px;
      padding: 5px 10px;
      margin-bottom: 10px;
      border: 1px solid $veryDarkBlue;
      border-radius: 3px;
      &::placeholder {
        color: $lightGray;
        font-family: "Open Sans", sans-serif;
        font-size: 1.1rem;
      }
    }
    .main__section__form--btn--thirdPage {
      width: 65vw;
      height: 35px;
      background-color: $brightBlue;
      border: none;
      border-radius: 3px;
      font-weight: 700;
      font-size: 1.1rem;
      color: #fff;
      box-shadow: 3px 3px 5px rgba(0, 0, 0, 0.1);
      margin-bottom: 50px;
    }
  }
}

// media 768px

@media (min-width: 768px) {
  .main__section--thirdPage {
    .main__section--thirdPageWrapper {
      display: flex;
      justify-content: space-between;
      max-width: 1440px;
      height: 25vh;
      min-height: 280px;
      margin: 0 auto;
      text-align: left;
      .main__section--thirdTextWrap {
        width: 45vw;
        justify-self: center;
        align-self: center;
        .main__section__h2--thirdPage {
          font-size: 2.5rem;
          margin-top: 0;
        }
        .main__section__p--thirdPage {
          font-size: 1.3rem;
          margin-bottom: 20px;
        }
      }
      .main__section--thirdFormWrap {
        display: flex;
        align-content: flex-start;
        width: 45vw;
        padding-left: 14vh;
        .main__section__form--thirdPage {
          display: flex;
          flex-direction: column;
          justify-content: center;
          width: 100%;
          .main__section__form--email--thirdPage {
            width: 30vw;
            align-self: flex-start;
            // max-width: 400px;
          }
          .main__section__form--btn--thirdPage {
            width: 15vw;
            font-size: 1.1rem;
            align-self: flex-start;
            margin-bottom: 0;
            -moz-appearance: none;
            -webkit-appearance: none;
            appearance: none;
          }
        }
      }
    }
  }
}
