$veryDarkBlue: hsl(243, 87%, 12%);
$desaturatedBlue: hsl(238, 22%, 44%);
$desaturatedBlueActive: hsl(239, 33%, 59%);
$brightBlue: hsl(224, 93%, 58%);
$brightBlueActive: hsl(224, 98%, 64%);
$moderateCyan: hsl(170, 45%, 43%);
$moderateCyanActive: hsl(170, 55%, 58%);
$lightGrayishBlue: hsl(240, 75%, 98%);
$lightGray: hsl(0, 0%, 75%);
